* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container{
   position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(98,98,98,0.7);
}